{% extends "base.html" %}
{% block title %}
  活动详情
{% endblock title %}
{% block content %}
      <div class="hero" >
          <div class="card horizontal" style="height:300px;">
            <div class="card-image">
              <img src="/static/img/8.jpg">
            </div>
          <div class="card-stacked">
            <ul class="collection with-header black-text" style="margin:0;">
              <li class="collection-header"><h4>2017保护二月兰青春志愿者</h4></li>
              <li class="collection-item">时间：</li>
              <li class="collection-item">预计持续：</li>
              <li class="collection-item">类型：</li>
              <li class="collection-item">地点：</li>
              <li class="collection-item">报名截止日期</li>
            </ul>
          </div>
      </div>

              <div class="card">
                <div class="card-action" style="padding:2px;height:60px;">
                  <div class="black-text" style="margin:15px;font-size:20px;">已报名人数：{{ act.join_number }}/{{ act.need_number }}<a style="height:100%;width:80px;"class="secondary-content" onclick="join();">报名活动</a></div>
                </div>
              </div>

              <div class="card white black-text">
                <div class="card-content">
                  <span class="card-title center-align" style="font-size:26px;">{{ act.activity_name }}</span><br>
                  <p style="font-size:16px;">{{ act.details }}</p>
                </div>
              </div>

      </div>
{% endblock content %}
{% block otherjs %}
  <script>
    $('.carousel.carousel-slider').carousel({fullWidth: true});
    function round(){
    $('.carousel.carousel-slider').carousel('next', 1);
    }
    var t2 = window.setInterval("round()",5000);
  </script>

  <script>
  var index = Math.floor(Math.random()*10)
  var position = 'url(\'img/users-' + index + '.svg\')'
  $('#avatar').css('background-image', position)
  </script>

  <script>
    function join() {
      var joinUrl = '/join/?id={{ act.activity_id }}'
      $.ajax({
        type: "GET",
        url: joinUrl,
        dataType: "text",
        success: function(data) {
          if (data === '0') {
            alert("您已经报名该活动")
          }
          if (data === '1') {
            alert("报名成功")
            window.location.reload()
          }
          if (data === '2') {
            alert("报名人数已满")
          }
          if (data === '3') {
            alert("请先登录")
          }          
        }
      });      
    }
  </script>
{% endblock otherjs %}

