<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
      {% block title %}
      {% endblock title %}
  </title>
  <link rel="stylesheet" href="/static/css/reset.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/materialize.css">
  <style>
    canvas {
      position:fixed;
      background-color: #eee;
      display: block;
      margin: 0 auto;
      z-index: -1;
    }
	a:hover, a:visited, a:link, a:active {
		text-decoration: none;
		color: black;
	}
    .mytitle {
        display: inline-block;
        font-size: 22px;
        font-weight: 700;
        vertical-align: middle;
        color: #000;
    }
    </style>
</head>
<body>
    <canvas id="canvas"></canvas>
    <header>
    <div class="navcontainer">
        <div class="headrow">
        <div class="column">
            <div class="logo">
                <div class="icon"></div>
                <a class="mytitle" href="/">南京理工大学志愿者服务平台</a>
            </div>
        </div>
        <div class="column">
            <ul class="nav">
            <li><a href="/activity">活动中心</a></li>
            {% if user.is_authenticated %}
                {% ifequal user.roles 1 %}
                    <li><a href="/userprofile">个人中心</a></li>
                {% else %}
                    <li><a href="/teamprofile">团队中心</a></li>
                {% endifequal %}
                <li><a href="/logout">注销</a></li>
            {% else %}
            <li><a href="/login?user=2">团队登录</a></li>
            <li><a href="/login?user=1">个人登录</a></li>
            <li><a href="/validate">注册</a></li>
            {% endif %}
            </ul>
        </div>
        </div>
    </div>
    </header>
    {% block content %}
    {% endblock content %}
    <div class="footer">
    <div class="container">
        <div class="row">
        <div class="column">
            <p>Copyright©2017 Liewithen,All Rights Reserved<br>使用过程中有任何问题请联系我们，邮箱:jyyt528@gmail.com</p>
        </div>
        </div>
    </div>
    </div>
    <script src="/static/js/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="/static/js/index.js" type="text/javascript"></script>
    <script src="/static/js/materialize.min.js" type="text/javascript"></script>
    <!-- 背景板 -->
    <script>
    var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext("2d");
    var cw = canvas.width=1920,
        cx = cw / 2;
    var ch = canvas.height=1080,
        cy = ch / 2;

    ctx.fillStyle = "#000";
    var linesNum = 16;
    var linesRy = [];
    var requestId = null;

    function Line(flag) {
        this.flag = flag;
        this.a = {};
        this.b = {};
        if (flag == "v") {
        this.a.y = 0;
        this.b.y = ch;
        this.a.x = randomIntFromInterval(0, ch);
        this.b.x = randomIntFromInterval(0, ch);
        } else if (flag == "h") {
        this.a.x = 0;
        this.b.x = cw;
        this.a.y = randomIntFromInterval(0, cw);
        this.b.y = randomIntFromInterval(0, cw);
        }
        this.va = randomIntFromInterval(25, 100) / 100;
        this.vb = randomIntFromInterval(25, 100) / 100;

        this.draw = function() {

        ctx.strokeStyle = "#02B1D3";
        ctx.beginPath();
        ctx.moveTo(this.a.x, this.a.y);
        ctx.lineTo(this.b.x, this.b.y);
        ctx.stroke();
        }

        this.update = function() {
        if (this.flag == "v") {
            this.a.x += this.va;
            this.b.x += this.vb;
        } else if (flag == "h") {
            this.a.y += this.va;
            this.b.y += this.vb;
        }

        this.edges();
        }

        this.edges = function() {
        if (this.flag == "v") {
            if (this.a.x < 0 || this.a.x > cw) {
            this.va *= -1;
            }
            if (this.b.x < 0 || this.b.x > cw) {
            this.vb *= -1;
            }
        } else if (flag == "h") {
            if (this.a.y < 0 || this.a.y > ch) {
            this.va *= -1;
            }
            if (this.b.y < 0 || this.b.y > ch) {
            this.vb *= -1;
            }
        }
        }

    }

    for (var i = 0; i < linesNum; i++) {
        var flag = i % 2 == 0 ? "h" : "v";
        var l = new Line(flag);
        linesRy.push(l);
    }

    function Draw() {
        requestId = window.requestAnimationFrame(Draw);
        ctx.clearRect(0, 0, cw, ch);

        for (var i = 0; i < linesRy.length; i++) {
        var l = linesRy[i];
        l.draw();
        l.update();
        }
        for (var i = 0; i < linesRy.length; i++) {
        var l = linesRy[i];
        for (var j = i + 1; j < linesRy.length; j++) {
            var l1 = linesRy[j]
            Intersect2lines(l, l1);
        }
        }
    }

    function Init() {
        linesRy.length = 0;
        for (var i = 0; i < linesNum; i++) {
        var flag = i % 2 == 0 ? "h" : "v";
        var l = new Line(flag);
        linesRy.push(l);
        }

        if (requestId) {
        window.cancelAnimationFrame(requestId);
        requestId = null;
        }

        cw = canvas.width=1920,
        cx = cw / 2;
        ch = canvas.height=1080,
        cy = ch / 2;

        Draw();
    };

    setTimeout(function() {
        Init();

        addEventListener('resize', Init, false);
    }, 15);

    function Intersect2lines(l1, l2) {
        var p1 = l1.a,
        p2 = l1.b,
        p3 = l2.a,
        p4 = l2.b;
        var denominator = (p4.y - p3.y) * (p2.x - p1.x) - (p4.x - p3.x) * (p2.y - p1.y);
        var ua = ((p4.x - p3.x) * (p1.y - p3.y) - (p4.y - p3.y) * (p1.x - p3.x)) / denominator;
        var ub = ((p2.x - p1.x) * (p1.y - p3.y) - (p2.y - p1.y) * (p1.x - p3.x)) / denominator;
        var x = p1.x + ua * (p2.x - p1.x);
        var y = p1.y + ua * (p2.y - p1.y);
        if (ua > 0 && ub > 0) {
        markPoint({
            x: x,
            y: y
        })
        }
    }

    function markPoint(p) {
        ctx.beginPath();
        ctx.arc(p.x, p.y, 2, 0, 2 * Math.PI);
        ctx.fill();
    }

    function randomIntFromInterval(mn, mx) {
        return ~~(Math.random() * (mx - mn + 1) + mn);
    }
    </script>
    {% block otherjs %}

    {% endblock otherjs %}
</body>
</html>