{% extends "base.html" %}
{% block title %}
南京理工大学志愿者服务平台
{% endblock title %}
{% block content %}
<section class="hero">
  <div class="cardboard z-depth-3">
    <div class="slider">
      <ul class="slides">
        {% for banner in banners %}
        <li>
          {% ifequal banner.news_type 1 %}
          <a href="/news/?id={{ banner.news_id }}">
            <img src="/media/{{ banner.image }}">
          </a>    
          {% else %}
          <a href="{{ banner.url }}">
            <img src="/media/{{ banner.image }}">
          </a>
          {% endifequal %}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="row" style="margin:5px;">
      <div class="col s8" style="padding:0px;">
        <a class="waves-effect waves-light btn-large blue" style="margin:5px;width:90px;">新闻</a>
      </div>
      <div class="col s4" style="padding:0px;">
        <a class="waves-effect waves-light btn-large red" style="margin:5px;width:90px;">活动</a>
      </div>
    </div>
    <div class="row">
      <div class="col s8">
        <div class="collection">
          {% for n in news %}
          <a href="/news/?id={{ n.id }}" class="collection-item black-text">
            <span class="badge">{{ n.add_time }}</span>
            {{ n.title }}
          </a>          
          {% endfor %}
         </div>
      </div>
      <div class="col s4" style="padding:0px;">
        <ul class="collection black-text">
          {% for act in acts %}
           <li class="collection-item avatar">
             <i class="material-icons circle">A</i>
             <span class="title">{{ act.activity_name }}</span>
             <p>{{ act.team_name }} <br>
                {{ act.start_time }}
             </p>
             <a href="/actprofile/?id={{act.activity_id}}" class="secondary-content"><i class="material-icons">详情</i></a>
           </li> 
          {% endfor %}
         </ul>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
{% block otherjs %}
<!-- 轮播图 -->
<script>
$(document).ready(function(){
  $('.slider').slider({full_width: true});
});
</script>
{% endblock otherjs %}


