{% extends "base.html" %}
{% block title %}
  登陆页面
{% endblock title %}
{% block content %}
<div class="hero" style="height:950px;">
  <div class="grey darken-3 RoundAct" id="avatar">
  </div>
  <div class="contentLog grey-touming darken-3 z-depth-5" style="position:absolute;background-color:rgba(255, 255, 255, 0.7)">
        <div class="InnerFormLogin">
            <form  method="post" action="/login/">
              <p class="grey-text loginUser"> 
              {% if  role == "1"%}
                    学号
              {% else %}
                    团队账号
              {% endif %} </p>
              <input type="text" name="username" id="username" class="grey lighten-2 black-text inputLogin">
              <p class="grey-text loginMID">
              {% if  role == "1"%}
                    密码(教务处密码)
              {% else %}
                    密码
              {% endif %}</p>
              <input type="password" name="password" id="password" class="grey lighten-2 black-text inputLogin">
              <p class="red-text" style="margin-left:35%">{{ msg }}</p>
              {% csrf_token %}
              <input type="hidden" name="role" value="{{ role }}">
              <a class="waves-effect waves-red btn blue black-text aLogin" ><input type="submit" value="登录" onclick="login()" style="width:100%;height:100%"></a>
            </form>
        </div>
  </div>
</div>
  
{% endblock content %}
      
{% block otherjs %}
    <script>
      $('.carousel.carousel-slider').carousel({fullWidth: true});
      function round(){
      $('.carousel.carousel-slider').carousel('next', 1);
      }
      var t2 = window.setInterval("round()",5000);
    </script>

    <script>
      var index = Math.floor(Math.random()*10)
      var position = 'url(\'/static/img/users-' + index + '.svg\')'
      $('#avatar').css('background-image', position)
      function login() {
          var name = $("#username").val()
          var password = $("#password").val()
          if (name == "") {
            alert("学号不能为空")
            return false
          }
          if (password == "") {
            alert("密码不能为空")
            return false
          }
          return true
      }
    </script>
{% endblock otherjs %}

