{% extends "base.html" %}
{% block title %}
 团队活动管理
{% endblock title %}
{% block content %}
<div class="hero">
    <div class="card horizontal" style="height:300px;">
      <div class="card-image">
        <img src="/static/img/act.jpg">
      </div>
      <div class="card-stacked">
        <ul class="collection with-header black-text" style="margin:0;">
          <li class="collection-header"><h4>{{ act.activity_name }}</h4></li>
          <li class="collection-item">时间：{{ act.start_time }}</li>
          <li class="collection-item">预计持续：{{ act.weeks }}周</li>
          <li class="collection-item">团队名称：{{ act.team_name}}</li>
          <li class="collection-item">地点：{{ act.place }} </li>
          <li class="collection-item">结束日期：{{ act.end_time }}</li>
        </ul>
      </div>
    </div>

        <div class="card">
          <div class="card-action" style="padding:2px;height:60px;">
            <div class="black-text" style="margin:15px;font-size:20px;">已报名人数：{{ act.join_number }}/{{ act.need_number }}</div>
          </div>
        </div>

        <div class="card white black-text">

          <table>
                <thead>
                  <tr>
                      <th data-field="name">姓名</th>
                      <th data-field="id">学号</th>
                      <th data-field="college">所属学院</th>
                      <th data-field="time">志愿者时长</th>
                  </tr>
                </thead>
                <tbody>
                  {% for stu in stu_lists %}
                    <tr>
                      <td>{{ stu.p_name }}</td>
                      <td>{{ stu.participant }}</td>
                      <td>计算机科学与工程学院</td>
                      <td>
                        <input type="text" class="spinner"/>
                      </td>
                    </tr>                  
                  {% endfor %}

                </tbody>
              </table>
        </div>
        <div style="height:50px;">
          <a class="waves-effect waves-light btn blue" style="float:right;width:100px;"><input type="submit" value="提交" style="width:100%;height:100%"></a>
        </div>

</div>
{% endblock content %}

{% block otherjs %}
<script src="/static/js/jquery.spinner.js" type="text/javascript"></script>
<script>
  $('.carousel.carousel-slider').carousel({fullWidth: true});
  function round(){
  $('.carousel.carousel-slider').carousel('next', 1);
  }
  var t2 = window.setInterval("round()",5000);
</script>

<script>
  $('.spinner').spinner();
</script>
{% endblock otherjs %}
