{% extends "base.html" %}
{% block title %}
 验证  
{% endblock title %}
{% block content %}
<div class= "hero" style="height:950px;">
      <div class="grey darken-3 RoundAct" id="avatar"></div>
      <div class="contentLog grey darken-3 z-depth-5" style="position:absolute;border-radius:15px;">
        <div class="InnerFormLogin">
            <form>
              <p class="grey-text loginUser">学号</p>
              <input type="text" id="name" class="grey darken-2 inputLogin white-text" style="padding-left:5px;">
              <p class="grey-text loginMID">密码(教务处密码)</p>
              <input type="password" id="pwd" class="grey darken-2 inputLogin white-text" style="padding-left:5px;">
              <!-- <a class="btn blue z-depth-1 aLogin"><p class="pLogin">登录</p></a> -->
              <a class="waves-effect waves-light btn blue black-text aLogin"><input id="state" type="submit" value="验证" onclick="check(event)" style="width:100%;height:100%"></a>
            </form>
        </div>
      </div>
</div>

{% endblock content %}
      
{% block otherjs %}
<script>
      var vis = 0
      function check(event) {
        var username = $('#name').val()
        var jwc_pwd = $('#pwd').val()
        event.preventDefault();
        if (vis === 0){   
          if (username === '' || jwc_pwd === ''){
            alert("用户名和密码不能为空")
          }
          else {
            $.ajax({
              type: "GET",
              url: "/validate/",
              dataType: "text",
              data: {
                username: username,
                jwc_pwd: jwc_pwd
              },
              success: function(data) {
                $("#state").val("点击刷新结果");
              }
            });
            vis = 1;
            $("#name").attr("disabled", true)
            $("#pwd").attr("disabled", true)
          }
        }
        else {
          $.ajax({
            type: "GET",
            url: "/check/",
            dataType: "text",
            data: {
              username: username,
            },
            success: function(data) {
              if (data === '0') {
                $("#state").val("验证中...");
              }
              if (data === '1') {
                $("#state").val("验证成功,正在前去登录");
                $("#state").attr("disabled", true);
                setTimeout("window.location.href='/login/?user=1'", 1500)
              }
              if (data === '2') {
                $("#state").val("验证失败,请重新验证");
                $("#state").attr("disabled", true);
                setTimeout("window.location.reload()", 1500)
              }
            }
          });          
        }
      }
    </script>
    <script>
      $('.carousel.carousel-slider').carousel({fullWidth: true});
      function round(){
      $('.carousel.carousel-slider').carousel('next', 1);
      }
      var t2 = window.setInterval("round()",5000);
    </script>

    <script>
    var index = Math.floor(Math.random()*10)
    var position = 'url(\'/static/img/users-' + index + '.svg\')'
    $('#avatar').css('background-image', position);
    </script>
{% endblock otherjs %}
